+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="Welcome to Goosst blog!" image_anchor="top" height="full" color="orange">}}
	<div class="mx-auto">
		<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref " /docs">}}">
			Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
		</a>

		<p class="lead mt-5">This site serves as my own documentation to recreate the things I make and the things I
			automate. Hopefully this documentation will help others as well.</p>
		{{< blocks/link-down color="info">}}
	</div>
	{{< /blocks/cover>}}


		{{% blocks/lead color="primary" %}}

		{{% /blocks/lead %}}

		{{< blocks/section color="dark">}}
			<!-- {{% blocks/feature icon="fa-lightbulb" title="New chair metrics!" %}}
			The Goldydocs UI now shows chair size metrics by default.

			Please follow this space for updates!
			{{% /blocks/feature %}} -->


			{{% blocks/feature icon="fab fa-github" title="Contributions welcome!"
			url="https://github.com/goosst" %}}
			{{% /blocks/feature %}}


			{{% blocks/feature icon="fa-lightbulb" title="Thingiverse"
			url="hhttps://www.thingiverse.com/goosst/designs"
			%}}
			See 3d-print designs on thingiverse
			{{% /blocks/feature %}}


			{{< /blocks/section>}}


				<!-- {{< blocks/section>}}
					<div class="col">
						<h1 class="text-center">This is the second Section</h1>
					</div>

					{{< /blocks/section>}} -->